<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="freeCodeCamp project boilerplate">
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/board.css">
  </head>
  <body>
    <header>
      <h1 id='boardTitle'></h1>
    </header>
    
    <div id='submitNewThread'>
      <h3 id="submitNewThreadHeader">Submit a new thread:</h3>
      <form id="newThread" method="post" action="/api/threads/">
        <input type='hidden' placeholder='board' id='board1' name='board'><br>
        <textarea id ="submitNewTextarea" type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
        <input id="submitNewThreadPassword" type='text' placeholder='password to delete' name='delete_password' required=''>
        <input id="submitNewThreadButton" type="submit" value="Submit">
      </form>
    </div>
    
    <div id='boardDisplay'></div>
    <footer>
      Designed and Coded by: <a id="footerLink" href="https://www.linkedin.com/in/hunter-lacefield-871995115/">Hunter Lacefield</a>
    </footer>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
            
    <script src="/public/board.js"></script>
    
  </body>
</html>
